
.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-strategy {
    padding: 120px 0;
}

.strategy-list {
    display: flex;
    gap: 24px;
}

.strategy-list-item {
    width: calc((100% - 72px)/4);
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.strat-text {
    width: 264px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    margin-bottom: 8px;
}
/* <--========================== / STRATEGY =============================--> */


/* <--========================== OUR TEAM ===============================--> */

h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

.team-member {
    background-color: #FFFFFF; 
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 24px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.our-team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our-team-section .container {
    display: block;
}

.team-list {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 24px;
}

.title-second-team {
    margin-bottom: 72px;
}

.team-list-item-container {
    padding: 32px 0;
}

.title-third-team {
    text-align: center;
}

.team-text {
    text-align: center;
}

.svg-icons {
    fill: #f4f4fd;
}

.icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.icons-list-item {
    width: 40px;
    height: 40px;
}

.icons-list-item-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list-item-link:focus, .icons-list-item-link:hover {
    background-color: #404BBF;
}
/* <--============================ / OUR TEAM ==============================--> */

/* <--========================== OUR PORTFOLIO =============================--> */

.our-portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-second-portfolio {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .portfolio-list-item:hover {
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item-overlay-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-list-item-overlay .portfolio-list-item-overlay-text {
    transform: translateY(0%);
}

.title-third {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;   
    line-height: 1.2;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portf-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-third-pics {
    margin-bottom: 8px;
}

.text-p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
/* <--======================== / OUR PORTFOLIO =============================--> */

/* <--============================= FOOTER =================================--> */

.footer {
    background-color: #2E2F42;
    color: white;
    padding: 100px 0;
}

.footer-logo-container {
    display: block;
    margin-right: 120px;
}

.footer .container {
    display: flex;
    align-items: baseline;
    justify-content: start;
}

.logotype-footer {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 16px;
    }

.studio {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-social-media-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-media .icons-list {
    gap: 16px;
}

.footer-social-media .icons-list-item-link:focus {
    background-color: #31D0AA;
}

.footer-social-media .icons-list-item-link:hover {
    background-color: #31D0AA;
}

.subscribe-footer-form {
    display: flex;
    gap: 24px;
}

.subscribe-footer-div {
    margin-left: 80px;
}

.subscribe-text {
    margin-bottom: 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.subscribe-footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-footer-input::placeholder {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.subscribe-footer-input:focus {
    border-color: #4D5AE5;

}
.subscribe-footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-footer-btn:hover,
.subscribe-footer-btn:focus {
    background-color: #404BBF;
}

.subscribe-footer-btn-icon {
    margin-left: 16px;
}
/* <--========================== / FOOTER  =============================--> */

/* <--========================== BACKDROP ==============================--> */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: auto; 
}
/* <--========================= / BACKDROP =============================--> */
/* <--============================ MODAL ===============================--> */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FCFCFC;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
    border-radius: 50%;
    line-height: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    stroke: #2E2F42;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover, .modal-close-btn:focus {
    background-color: #404BBF;
    stroke: #FFFFFF;
    fill: #FFFFFF;
    border: none;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
    width: 360px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.review-form-input {
    width: 100%;
    width: 360px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.review-form-input:focus {
    border-color: #4D5AE5;
}

.review-form-input:focus + .review-form-input-icon {
    fill: #4D5AE5;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field-wrapper-textarea {
    margin-bottom: 16px;
}

.review-form-field-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment {
    width: 100%;
    height: 120px; 
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.review-form-comment:focus {
    border-color: #4D5AE5;
}

.review-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked + .review-form-checkbox-label > .review-form-own-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.review-form-checkbox-icon {
    fill: #F4F4FD;
    opacity: 0;
}

.review-form-checkbox:checked + .review-form-checkbox-label .review-form-checkbox-icon {
    opacity: 1;
}

.review-form-checkbox:focus + .review-form-checkbox-label > .review-form-own-checkbox {

}

.review-form-checkbox-label {
    width: 338px;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.privacy-policy-link {
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.review-form-submit-btn {
    display: block;
    min-width: 169px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover, .review-form-submit-btn:focus {
    background-color: #404BBF;
}
/* <--=========================== / MODAL ==============================--> */

